<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit todo</title>
</head>

<body>
    <form action="/todo/edit?t_id={{todo_data.id}}" method="POST">

        <input type="text" name="edited_title" placeholder="Enter title" value="{{todo_data.title}}">
        <input type="text" name="edited_description" placeholder="Enter description" value="{{todo_data.description}}">
        <br>
        <br>
        <button type="submit">
            Edit ToDo
        </button>
    </form>


</body>

</html>